.film-card {
  display: block;
  padding: 10px;
  border-radius: 12px;
  text-decoration: none;
  color: #fff;
  background: #111;
  transition: transform 0.2s ease, box-shadow 0.2s ease;

  &:hover {
    transform: translateY(-4px);
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.3);
  } 
}
.film-card__content {
  margin-top: 10px;
} 

.film-card__link {
  text-decoration: none;
  color: inherit;
}

.film-card__image {
  width: 100%;
  border-radius: 12px;
} 

.film-card__title {
  margin-top: 10px;
  font-size: 1rem;
  font-weight: 600;
  text-align: center;
  color: #fff;
} 

.film-card__genre {
  font-size: 0.9rem;
  color: #aaa;
  text-align: center;
}