.hero-film {
  position: relative;
  height: 420px;
  border-radius: 12px;
  overflow: hidden;
}
.hero-media {
  margin: 0;
  height: 100%;
}

.hero-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.hero-film-link {
  display: block;
  text-decoration: none;
  color: inherit;
}

.hero-overlay {
  position: absolute;
  inset: 0;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  background: linear-gradient(to top,
      rgba(0, 0, 0, 0.75),
      rgba(0, 0, 0, 0.2));
}
.her-top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 1rem;
}
.btn-sections {
  display: flex;
  justify-content: space-between;
}
.hero-trailer-btn {
  background: #B80000;
  color: #fff;
  padding: 6px 14px;
  font-size: 0.85rem;
  border-radius: 8px;
  text-decoration: none;
  text-transform: uppercase;

  &:hover {
    background: #b02a37;
    color: #fff;
  }
}

.hero-genre {
  background: rgba(255, 255, 255, 0.2);
  color: #fff;
  padding: 4px 10px;
  border-radius: 8px;
  font-size: 0.75rem;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.hero-title {
  color: #fff;
  font-weight: 700;
  font-size: 2.4rem;
  margin: 0;
}
