*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
:root{
    --dark-bg: #060036;
    --primary-color: #2a4cff;
    --sec-color: #b80000;
    --primary-text: #ffffff;
    --sec-text: #b3b3b3;
    --border-color: #333;

}

body{
    background-color: var(--dark-bg);
    font-family: 'IBM Plex Sans', sans-serif;
    color: var(--primary-text);
}

.container{
    max-width: 2400px;
    padding: 0 20px;
    margin: 0 auto;
 }

.header{
    background-color: black;
    padding: 15px 0;
    border-bottom: 1px solid var(--border-color);
}
.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    font-size: 32px;
    letter-spacing: 1px;
    margin: 0;
}

.desktop-nav{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 20px;

}

.nav-links{
    display: flex;
    list-style: none;    /* ta bort punkter */
    gap: 20px;
    margin: 0;
}

.nav-links a {
    color: var(--primary-text);
    text-decoration: none;   /* tar bort understrykning */
    font-size: 14px;
    transition: color 0.3;
    white-space: nowrap;      /* ingen radbrytning tex "kommande filmer" halva texten hamnar inte i nästa rad */

}

.nav-links a:hover{
    color: var(--sec-text);
}

.nav-buttons{
    display: flex;
    padding: 10px 5px;
    gap: 20px;
    font-size: 20px;
    border: none;
    border-radius: 10px;
    transition: all 0.3;
    white-space: nowrap;

}
.sign-button{
    background-color: #ffffff;
    color: balck;
    padding: 10px 5px;
    white-space: nowrap;
}

.sign-button:hover{
    background-color: var(--primary-color);
    color: #ffffff;
    cursor: pointer;
}